#home {
  margin-top: 2%;
  display: grid;
}
#home h1 {
  font-size: 2.5em;
  color: black;
}
#home .btn {
  padding: 1em;
  border: 0;
  background-color: #2b80b8;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
}
@media (min-width: 768px) {
  #home {
    grid-template-columns: 700px auto;
  }
  #home h1 {
    font-size: 5em;
  }
  #home .btn {
    padding: 1em;
    width: 400px;
    font-size: 2em;
  }
}
